.footer {
  max-width: 318px;
  color: rgba(84, 84, 84, 1);
  margin: 67px auto 60px 200px;
}
.footer__copyright {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  .footer {
    max-width: 800px;
    margin: 0 auto auto 200px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin: 50px auto 36px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
